<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949369691308-tvl1onqggt6im689cj8c11d60vs2u8lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949369691308-tvl1onqggt6im689cj8c11d60vs2u8lc</string>
	<key>API_KEY</key>
	<string>AIzaSyDf1sipqw-B6Y79tVQpVl17rXSsgwf9qps</string>
	<key>GCM_SENDER_ID</key>
	<string>949369691308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gov.harriscountytx.harriscountypublichealth</string>
	<key>PROJECT_ID</key>
	<string>hc-public-health</string>
	<key>STORAGE_BUCKET</key>
	<string>hc-public-health.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949369691308:ios:4ca3acc1c3b6d1a2</string>
	<key>DATABASE_URL</key>
	<string>https://hc-public-health.firebaseio.com</string>
</dict>
</plist>